.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.note {
  pointer-events: auto;
  cursor: grab;
  border-width: 50px;
  border-style: solid;
}

.eye {
  position: absolute;
  border-width: 20px;
  border-style: solid;
  border-color: #eee;
  border-radius: 20px;
  top: -40px;
}

.pupil {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: #111;
  border-radius: 10px;
  top: -30px;
}
